# Force HTTPS redirection
RewriteEngine On

# Redirect all www to non-www
RewriteCond %{HTTP_HOST} ^www\.grantrobertsart\.com [NC]
RewriteRule ^(.*)$ https://grantrobertsart.com/$1 [L,R=301]

# Ensure HTTPS
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript application/json application/xml
</IfModule>

AddDefaultCharset UTF-8
